*{
    padding: none;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}
.nav1{
    background-color: rgb(167, 70, 167);
    width: 100%;
    padding: 15px 0;
    padding-right: 400px;
    display: flex;
    height: 100px;
    justify-content: space-between;
   position: fixed;
    top: 0;
}
.nav1 h1{
    font-weight: 500;
    font-size: 30px;
    color: white;
    margin: 20px 0;
    margin-left: 0;
}
.nav1 h1 :hover{
    background-color: tan;
    color: white;
}
form{
    margin-top: 98px;
}
.side{
    display: flex;
}
.side:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}
.side a{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none;
    margin-top: 12px;
    text-transform: capitalize;
}
.side a:hover{
    color: gold;
    text-decoration: underline;
}
svg{
    width: 30px;
    height: 30px;
    color: whitesmoke;
    margin: 10px;
}
svg:hover{
    color: black;
}

.nav1 a{
    color: rgb(64, 64, 122);
    font-size: 17px;
}
.nav1 li :hover{
    background-color: rgb(128, 83, 25);
    color: white;
}
.nav1 li :active{
    color: brown;
}


.nav1 span{
    color: rgb(45, 6, 117);
    font-size: 30px;

}
.menu span{
    display: none;
    width: 100%;
    height: 3px;
    background-color: white;
}
.nav1 ul{
    display: flex;
justify-content: center;
font-size: 17px;
}
a{
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}
.nav1 li{
    list-style: none;
    margin: 20px 0;
}
#drawer{
   display: none; 
    width: 100%;
    height: 10px;
    background-color: rgb(26, 23, 23);
    /*position: fixed;
    left: 0;
    top: 0;*/
}
.menu{
    display: none;
    width: 30px;
    display: flex;
    height: 3rem;
    flex-direction: column;
    justify-content: space-around;
}

#drawer:target{
    display: block;
}
#drawer li{
    list-style: none;
    color: white;
    margin: 20px;

}
#drawer a{
    color: white;
    text-align: center;
}

form{
    width: 400px;
    border: none;
    box-shadow: 1px 2px 1px rgb(80, 80, 75);
    background-color: rgb(235, 229, 223);
    border-radius: 10px;
    padding: 40px;
    justify-content: center;
    margin: 50px auto;
}
form> label{
    color: rgb(65, 58, 58);
    font-size: 14px;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px grey;
    border-radius: 10px;
    margin: 10px 0;
}
input :hover{
    border: 1px solid blue;
}
.btn3{
    padding: 10px;
    background-color: rgb(52, 52, 110);
    border: none;
    border-radius: 6px;
    width: auto;
    color: aliceblue;
    margin: 20px 50px;

    
}
button{
    color: white;
    font-size: 16px;
    margin: 20px auto;
    align-items: center;
}
.p a {
    font-size: 13px;
    margin: 0;

}
.p p{
    font-size: 13px;
    color: grey;
}
.flexx{
    display: flex;
}
.flexx label{
    margin-top: 14px;
}
.radio{
    display: flex;
    margin: 20px auto;
}
.radio input{
    display: flex;
    width: auto;
    margin: 0 10px;
}
.radio label{
    font-size: 12px;
    color: rgb(41, 34, 34);
}
.flex2{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.flex2 .footer1{
    width: 33%;
    list-style: none;
    display: block;

}
.footer1 a{
    color: white;
    display: block;
    font-size: 17px;

}
.footer2 a{
    color: white;
    display: block;

}



@media(max-width:768px){
    *{
        padding: none;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        text-transform: capitalize;
    }
    .nav1{
        padding: 15px;
        padding-right: 50px;
    }
    .nav1 h1{
        font-weight: 300;
        font-size: 25px;
    }
    .nav1 a{
        font-size: 17px;
    }
    .nav1 span{
        color: red;
        font-size: 25px;
    
    }
    .flex2{
        background-color: black;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0;
    }
    .flex2 .footer1{
        width: 33%;
        list-style: none;
        display: block;
    
    }
    .footer1 a{
        color: white;
        display: block;
        font-size: 17px;
    
    }
    .footer2 a{
        font-size: 17px;
        color: white;
        display: block;
    
    }
} 
    
    
    @media(max-width:400px){
        
    .nav1{
        padding: 10px 0;
    }
    .nav1 ul{
        display: none;
    }
    .nav1 h1{
        font-weight: 300;
        font-size: 20px;
        margin-left: 0;
    }
    .nav1 a{
        font-size: 12px;
    }
    .nav1 span{
        color: red;
        font-size: 25px;
    
    }
    
    #drawer{
        display: none;
         width: 70%;
         height: 100%;
         background-color: rgb(26, 23, 23);
         position: fixed;
         left: 0;
         top: 0;
     }
     #drawer li:hover{
        background-color: rgb(253, 188, 23);
    }
     .menu{
         display: contents;
         width: 30px;
         display: flex;
         height: 3rem;
         flex-direction: column;
         justify-content: space-around;
     }
     .menu span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
    }
    .menu H1{
        color: rgb(129, 116, 116);
    }
    /*#drawer{
        display: none;
    }*/

    form{
        width: 90%;
        border: none;
        box-shadow: 1px 2px 1px rgb(80, 80, 75);
        background-color: rgb(235, 229, 223);
        border-radius: 10px;
        padding: 40px;
        justify-content: center;
        margin: 50px auto;
    }
    form> label{
        font-size: 12px;
    }
    input{
        width: 100%;
        padding: 10px;
        border: 1px grey;
        border-radius: 10px;
        margin: 10px 0;
    }
    .btn3{
        padding: 10px;
        background-color: rgb(52, 52, 110);
        border: none;
        border-radius: 10px;
        margin: 20px 50px;
        
    }
    button{
        color: white;
        font-size: 12px;
        margin: 20px 50px;
        align-items: center;
    }
    .p a {
        font-size: 12px;
    }
    .p p{
        font-size: 12px;
        color: grey;
    }
    
    
        .contact{
        display: flex;
    }
    .contact img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
    .insta{
        width: 20px;
        height: 20px;
        border-radius: 100%;
    
    }

    .flex2{
        background-color: black;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0;
    }
    .flex2 .footer1{
        width: 90%;
        list-style: none;
        display: block;
    
    }
    .flex2 .footer2{
        width: 90%;
        list-style: none;
        display: block;
    
    }

    .footer1 a{
        color: white;
        display: block;
        font-size: 17px;
    
    }
    .footer2 a{
        font-size: 17px;
        color: white;
        display: block;
    
    }
}
